<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:t="http://www.terasoluna.org">
<head>
<meta charset="utf-8">
<title>Multi Line Text</title>
<link rel="stylesheet" href="../../../../resources/app/css/styles.css" th:href="@{/resources/app/css/styles.css}">
</head>
<body>
    <div id="wrapper">
        <h1>Multi Line Text</h1>
        <span id="text1" t:mtext="${text1}"></span>
        <span id="text2" t:mtext="${text2}"></span>
        <span id="text3" t:mtext="${text3}"></span>
    </div>
</body>
</html>